{{> head}}
    {{> head}}
        {{> navbar}}

        <div class="row">
            <div class="col-8">
                <h1>Tecnologia utilizada</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores assumenda iure perspiciatis animi, hic minima, non tempore neque quaerat eum nemo quasi doloribus itaque quidem quae? Consectetur quaerat alias et!
                </p>
            </div>
            <div class="col4-">
                <img src="/assets/img/node.png" class="img-thumbnail">
            </div>
        </div>
{{> footer}}
